<ion-view>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input ng-model="usuario.email" type="email" placeholder="E-mail">
            </label>
            <label class="item item-input">
                <input ng-model="usuario.senha" type="password" placeholder="Senha">
            </label>
            <div class="padding">
                <button ng-click="login()" class="button button-full button-positive">
                    Logar
                </button>

                <button ng-click="abrir()" class="button button-full button-balanced">
                    Cadastre-se
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>